* {
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  display: flex;
  background: #212121;
  font: 24px/1.4 'Open Sans', sans-serif;
  color: #fff;
}

#root {
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  margin: 0 auto;
  height: 100vh;
}
